/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

button {
    background-color: #344d90;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #344d90;
    color: #fff;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    background-color: #344d90;
    padding: 0.5rem;
    gap: 1rem;
}

.logocontainer {
    width: 80px;
    height: 80px;
}

.logo {
    width: inherit;
    height: inherit;
    object-fit: fill;
    border-radius: 10%;
}

header h1 {
    color: #f2f2f2;
    text-align: center;
    font-size: 2.5rem;
    padding: 0.5rem;
}

/* Navigation */

nav {
    background-color: #f2f2f2;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Main container */
main {
    margin: 0rem;
    width: 100%;
    max-width: 1200vw;*/
}


.description {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem 2rem;
}


/* Home view */

#home-view button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

#home-view button:hover {
    background-color: #344d90;
}

#top-players {
    margin-top: 2rem;
}

#top-players li {
    margin-bottom: 0.5rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    background-color: #ffb745;
    padding: 0.5rem;
}

.kompasscontainer {
    width: 80px;
    height: 80px;
}

.kompass {
    width: inherit;
    height: inherit;
    object-fit: fill;
}

#footer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 0.8rem;
    background-color: #5cc5ef;
}

/* Game view */

#score {
    display: flex;
    justify-content: right;
}

#score-id, #round-id, #timer-id {
    color: #344d90;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
    background-color: #e7552c;
    border-radius: 0;
    margin-right: 0.5rem;
}

.containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: fit-content;
}

.image-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffb745;
    padding: 2rem;
    /*gap: 4rem;*/
    /*text-align: center;*/
}

.image-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5cc5ef;
    padding: 2rem;
    /*text-align: center;*/
}

.image-option1 img, .image-option2 img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 2rem 2rem 0.5rem 2rem;
    /*border-radius: 1rem; */
}

#b1, #b2 {
    border-radius: 1rem;
    max-width: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 1rem 10rem;
    margin: 1rem 1rem 1rem 1rem;
    cursor: pointer;
}


.image-option button:hover {
    background-color: #344d90;
}

h2 {
    margin: 0.3rem;
    text-align: center;
    font-size: 2.5rem;
}

/* Leaderboard view */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th,
td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Login view */
#login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem auto;
}

#login-form label,
#login-form input {
    margin-bottom: 1rem;
}

#login-form button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #344d90;
}

/* Light/Dark theme */
.light-theme {
    background-color: #fff;
    color: #333;
}

.light-theme button {
    background-color: #344d90;
    color: #fff;
}

.light-theme button:hover {
    background-color: #344d90;
    color: #fff;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme nav {
    background-color: #444;
}

.dark-theme nav a {
    color: #fff;
}

.dark-theme header {
    background-color: #222;
}

.dark-theme button {
    background-color: #222 !important;
    color: #fff;
}

.dark-theme button:hover {
    background-color: #555;
}

.dark-theme th {
    background-color: #444;
}

.dark-theme td,
.dark-theme th {
    border-color: #555;
}

.dark-theme .image-container1 {
    background-color: #555;
}

.dark-theme .image-container2 {
    background-color: #444;
}

.dark-theme .home-container {
    background-color: #555;
}

.dark-theme #score-id, .dark-theme #round-id, .dark-theme #timer-id {
    background-color: #222;
    color: aliceblue;
}


.dark-theme #footer {
    background-color: #555;
    color: #ddd;
}

/* Hidden class */
.hidden {
    display: none;
}

#buttonOption1 {
    background-color: #e7552c;
}
